<div class="sp-top">
    <div class="sp-bar sp-white sp-wide sp-padding sp-card">
        <a href="#home" class="sp-bar-item sp-button"><b>SP</b> Multitasking BOT</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="sp-right sp-hide-small">
            <a id="technologies_link" class="sp-bar-item sp-button">Projects</a>
            <a id="about_link" class="sp-bar-item sp-button">About</a>
            <a id="contact_link" class="sp-bar-item sp-button">Contact</a>
        </div>
    </div>
</div>

<header class="sp-display-container sp-content sp-wide" style="max-width:1500px;" id="home">
    <img class="sp-image" src="assets/img/banner.jpg" alt="Architecture" width="1500" height="800">
    <div class="sp-display-left sp-margin-top sp-margin-left sp-center">
        <!-- <h1 class="sp-xxlarge sp-text-white">
            <span class="sp-padding sp-black sp-opacity-min"><b>SP</b></span> <span class="sp-hide-small sp-text-light-grey">Multitasking <b>BOT</b></span>

        </h1> -->
        <h1 class="sp-xxlarge sp-text-white">
            <div class="">
              <div class="sp-padding sp-black sp-opacity-min">
                <div class="sp-hide-small sp-text-light-grey">SP</div>
              </div>
              <div class="mozart">
                <div class="mozart-inner">Multitasking BOT</div>
              </div>
            </div>
        </h1>
    </div>
</header>