<!-- About Section -->
<div class="sp-container sp-padding-64" id="about">
    <h3 class="sp-border-bottom sp-border-light-grey sp-padding-16">About</h3>
</div>

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                    alt="" />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-head">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>
                            Sarada Prasad Biswal
                        </h1>
                    </div>
                </div>
            </div>
            <hr class="style18">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>sarada12ru@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>7008920316</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Profession</label>
                        </div>
                        <div class="col-md-6">
                            <p>Software Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>