<!-- Contact Section -->
<div class="sp-container sp-padding-64" id="contact">
    <h3 class="sp-border-bottom sp-border-light-grey sp-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
        <input class="sp-input sp-border" type="text" placeholder="Name" required name="Name">
        <input class="sp-input sp-section sp-border" type="text" placeholder="Email" required name="Email">
        <input class="sp-input sp-section sp-border" type="text" placeholder="Subject" required name="Subject">
        <input class="sp-input sp-section sp-border" type="text" placeholder="Comment" required name="Comment">
        <button class="sp-button sp-black sp-section" type="submit">
            <i></i> SEND MESSAGE
        </button>
    </form>
</div>