<!-- Project Section -->
<div class="sp-container sp-padding-64" id="technologies">
    <h3 class="sp-spimages-bottom sp-border-light-grey sp-padding-16">Skills</h3>
</div>

<div class="sp-row-padding">
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Node JS</div>
            <img src="assets/img/node.png" alt="Node JS" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Express JS</div>
            <img src="assets/img/express.png" alt="Express JS" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Ionic</div>
            <img src="assets/img/ionic.png" alt="Ionic" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Angular</div>
            <img src="assets/img/angular.png" alt="Angular" class="sp-skill-img">
        </div>
    </div>
</div>

<div class="sp-row-padding">
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Firebase</div>
            <img src="assets/img/firebase.png" alt="Firebase" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Mongo</div>
            <img src="assets/img/mongo.jpg" alt="Mongo" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">Mysql</div>
            <img src="assets/img/mySQL.jpg" alt="Mysql" class="sp-skill-img">
        </div>
    </div>
    <div class="sp-col l3 m6 sp-margin-bottom">
        <div class="sp-display-container">
            <div class="sp-display-topleft sp-black sp-padding">CodeIgniter</div>
            <img src="assets/img/codeigniter.png" alt="Codeigniter" class="sp-skill-img">
        </div>
    </div>
</div>